<form>
  <div class="row">
    <div class="col-6">
      <div class="form-group pt-4">
        <label for="valorA" class="form-label">Valor A</label>
        <input type="number" class="form-control" id="valorA" [(ngModel)]="valorA" name="valorA">
      </div>

      <div class="form-group pt-4">
        <label for="valorB" class="form-label">Valor B</label>
        <input type="number" class="form-control" id="valorB" [(ngModel)]="valorB" name="valorB">
      </div>

      <div class="form-group">
        <button type="button" class="btn btn-success mt-3" (click)="resolverOperacion()">Obtener resultado</button>
      </div>
    </div>

    <div class="col-6 pt-4">
      <label><input type="radio" value="suma" [(ngModel)]="operacionSel" name="operacionSel" id="suma"> Suma</label><br>
      <label><input type="radio" value="resta" [(ngModel)]="operacionSel" name="operacionSel" id="resta"> Resta</label><br>
      <label><input type="radio" value="multi" [(ngModel)]="operacionSel" name="operacionSel" id="multi"> Multiplicación</label><br>
      <label><input type="radio" value="divi" [(ngModel)]="operacionSel" name="operacionSel" id="divi"> División</label><br>
    </div>
  </div>

  <div class="col-12 pt-4">
    <h2>El resultado es: {{resultado}}</h2>
  </div>
</form>
